
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: #000;
}

h1,
h4, 
p, 
a {
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  color: #000;
  text-decoration: uppercase;
  background-color: rgba(248, 217, 15);
}

.btn-light {
  background: transparent;
  color: #fff;
  border: 1px solid  ;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}
